$dark_blue: rgb(0, 5, 74);
$normal_blue: rgb(0, 11, 170);
$font: 'Arvo', serif;

body {
    box-sizing: border-box;
    margin: 0px;
    font-family: $font;
}

header { 
    background-color: $dark_blue;
    color: white;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-bottom: 5px solid $normal_blue;

    nav input {
        background-color: $dark_blue;
        color: white;
        font-size: 25px;
        border: 0px;
        margin-right: 15px;
        margin-left: 10px;

        &:hover {
            cursor: pointer;
        }
    }

    .navigation-bar {
        background-color: $dark_blue;
        position: fixed;
        top: 0;
        width: 20%;
        height: 100vh;
        padding-left: 40px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.4);

        input {
            background-color: $dark_blue;
            color: white;
            font-size: 30px;
            margin-top: 15px;
            margin-bottom: 35px;
            border: 0px;
        }

        a {
            margin: 12px 0;
        }
    }

    .close {
        display: none;
    }
}

.first-mission {
    width: 100%;
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./Img/Euclid_lift-off.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.squares {
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .square-links {
        background-color: $dark_blue;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 15px 25px;
        border-top: 5px solid $normal_blue;
    }
}