body {
  box-sizing: border-box;
  margin: 0px;
  font-family: "Arvo", serif;
  letter-spacing: 0.5px;
  word-spacing: 1px;
}

header {
  box-sizing: border-box;
  background-color: rgb(0, 5, 74);
  color: white;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  flex-direction: row;
  border-bottom: 5px solid rgb(0, 13, 195);
}
header h2 {
  font-size: 25px;
}
header nav button {
  background-color: rgb(0, 5, 74);
  border: 0px;
  margin-right: 15px;
  margin-left: 10px;
}
header nav button .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: white;
}
header nav button:hover {
  cursor: pointer;
}
header .navigation-bar {
  background-color: rgb(0, 5, 74);
  position: fixed;
  z-index: 1;
  top: 0;
  width: 20%;
  height: 100vh;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.4);
}
header .navigation-bar input {
  background-color: rgb(0, 5, 74);
  color: white;
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 35px;
  border: 0px;
}
header .navigation-bar input:hover {
  cursor: pointer;
}
header .navigation-bar a {
  margin: 12px 0;
}
header .close {
  display: none;
}

.first-mission {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./Img/Euclid_lift-off.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.first-mission h2 {
  background-color: red;
  font-size: 20px;
  font-weight: 400;
  padding: 0 5px;
}
.first-mission h1 {
  font-size: 40px;
  padding: 0 25%;
  line-height: 55px;
}
.first-mission p {
  font-size: 15px;
}
.first-mission button {
  background-color: white;
  font-weight: 400;
  width: 110px;
  height: 40px;
  padding: 5px 20px;
  border: 0px;
  border-radius: 4px;
}
.first-mission button:hover {
  cursor: pointer;
}

.second-mission {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./Img/The_Sun_in_high_resolution_pillars.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.second-mission h2 {
  background-color: red;
  font-size: 20px;
  font-weight: 400;
  padding: 0 5px;
}
.second-mission h1 {
  font-size: 40px;
  padding: 0 25%;
  line-height: 55px;
}
.second-mission p {
  font-size: 15px;
}
.second-mission button {
  background-color: white;
  font-weight: 400;
  width: 110px;
  height: 40px;
  padding: 5px 20px;
  border: 0px;
  border-radius: 4px;
}
.second-mission button:hover {
  cursor: pointer;
}

.third-mission {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./Img/Cosmic_cliffs_pillars.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.third-mission h2 {
  background-color: red;
  font-size: 20px;
  font-weight: 400;
  padding: 0 5px;
}
.third-mission h1 {
  font-size: 40px;
  padding: 0 25%;
  line-height: 55px;
}
.third-mission p {
  font-size: 15px;
}
.third-mission button {
  background-color: white;
  font-weight: 400;
  width: 110px;
  height: 40px;
  padding: 5px 20px;
  border: 0px;
  border-radius: 4px;
}
.third-mission button:hover {
  cursor: pointer;
}

.squares {
  background-color: black;
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.squares .square-links {
  background-color: rgb(0, 5, 74);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px 25px 30px 25px;
  border-top: 5px solid rgb(0, 13, 195);
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 55px 0px 55px;
}
.heading h1 {
  font-size: 55px;
}
.heading a {
  text-decoration: none;
  color: rgb(0, 5, 74);
}
.heading button {
  background-color: rgba(255, 255, 255, 0);
  border: 3px solid rgb(0, 5, 74);
  padding: 10px 25px;
  border-radius: 3px;
}
.heading button:hover {
  cursor: pointer;
  transition: 300ms;
  background-color: rgb(0, 5, 74);
  color: white;
}

.stories {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5px 55px 100px 55px;
  margin: 0;
}
.stories .story {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 300px;
  height: 440px;
  margin: 30px 0;
  box-shadow: 0 0 7px 0.5px rgb(169, 169, 169);
}
.stories .story p {
  font-size: 14px;
  color: rgb(62, 62, 62);
}
.stories .story img {
  width: 300px;
  height: 250px;
  object-fit: cover;
  margin-bottom: 8px;
}
.stories .story button {
  background-color: rgba(255, 255, 255, 0.5);
  border: 0px;
  padding: 5px 12px;
  border-radius: 3px;
  margin: 10px 0;
}
.stories .story button:hover {
  cursor: pointer;
}
.stories .story:hover {
  background-color: rgb(233, 233, 233);
  transition: 300ms;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px 170px;
}

/*# sourceMappingURL=style.css.map */
