$dark_blue: rgb(0, 5, 74);
$normal_blue: rgb(0, 13, 195);
$font: 'Arvo', serif;

@mixin button {
    background-color: white;
    font-weight: 400;
    width: 110px;
    height: 40px;
    padding: 5px 20px;
    border: 0px;
    border-radius: 4px;

    &:hover {
        cursor: pointer;
    }
}

@mixin background_image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2 {
        background-color: red;
        font-size: 20px;
        font-weight: 400;
        padding: 0 5px;
    }

    h1 {
        font-size: 40px;
        padding: 0 25%;
        line-height: 55px
    }

    p {
        font-size: 15px;
    }
}

body {
    box-sizing: border-box;
    margin: 0px;
    font-family: $font;
    letter-spacing: 0.5px;
    word-spacing: 1px;
}

header { 
    box-sizing: border-box;
    background-color: $dark_blue;
    color: white;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-bottom: 5px solid $normal_blue;

    h2 {
        font-size: 25px;
    }

    nav button {
        background-color: $dark_blue;
        border: 0px;
        margin-right: 15px;
        margin-left: 10px;

        .bar {
            display: block;
            width: 25px;
            height: 3px;
            margin: 5px auto;
            background-color: white;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .navigation-bar {
        background-color: $dark_blue;
        position: fixed;
        z-index: 1;
        top: 0;
        width: 20%;
        height: 100vh;
        padding-left: 40px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.4);

        input {
            background-color: $dark_blue;
            color: white;
            font-size: 30px;
            margin-top: 15px;
            margin-bottom: 35px;
            border: 0px;

            &:hover {
                cursor: pointer;
            }
        }

        a {
            margin: 12px 0;
        }
    }

    .close {
        display: none;
    }
}

.first-mission {
    width: 100%;
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(./Img/Euclid_lift-off.jpg);
    @include background_image();

    button {
        @include button;
    }
}

.second-mission {
    width: 100%;
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url(./Img/The_Sun_in_high_resolution_pillars.jpg);
    @include background_image();

    button {
        @include button;
    }
}


.squares {
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .square-links {
        background-color: $dark_blue;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 15px 25px 30px 25px;
        border-top: 5px solid $normal_blue;
    }
}

.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 55px;

    h1 {
        font-size: 55px;
    }

    a {
        text-decoration: none;
        color: $dark_blue;
    }

    button {
        background-color: rgba(255, 255, 255, 0);
        border: 3px solid $dark_blue;
        padding: 10px 25px;
        border-radius: 3px;

        &:hover {
            cursor: pointer;
            transition: 300ms;
            background-color: $dark_blue;
            color: white;
        }
    }
}



.stories {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px 55px 100px 55px;

    .story {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 300px;
        height: 440px;
        box-shadow: 0 0 7px 0.5px rgb(169, 169, 169);

        p {
            font-size: 14px;
            color: rgb(62, 62, 62);
        }
    
        img {
            width: 300px;
            height: 250px;
            object-fit: cover;
            margin-bottom: 8px;
        }
    
        button {
            background-color: rgba(255, 255, 255, 0.5);
            border: 0px;
            padding: 5px 12px;
            border-radius: 3px;
            margin: 10px 0;
    
            &:hover {
                cursor: pointer;
            }
        }
    
        &:hover {
            background-color: rgb(233, 233, 233);
            transition: 300ms;
        }
    }
}


footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 170px;
}